body {
    background-color: #cecece;
}

.posts .post-item {
    margin-bottom: 15px;
}

.post-details .text {
    white-space: pre-line;
}

.image-container {
    max-height: 150px;
    text-align: center;
}

.image-container img {
    max-height: 150px;
    width: auto;
}

.card-body{
    width: 150px;
    height: 350px;
}

#ul_content_topmenu a{
    float:left;
    font-size: 18px;
    width:150px;
}